<article class="listing">
  <div class="centered">
    <h3>{{this.project.title}}</h3>
    <a href={{this.project.url}} target=#>
      <img src={{this.project.image}} alt="">
    </a>
  </div>
  <div class="details">
    <p>
      {{this.project.description}}
    </p>
  </div>
</article>
