<article class="listing">
  <div>
    <h3>Project Screenshot</h3>
    <p>
      Put an image of project application and run application on click.
    </p>
  </div>
  <div class="details">
    <h3>{{this.project}}</h3>
    <p>
      Description of application.
    </p>
  </div>
</article>
