<article class="listing work-experience compact">
  <ul>
    <li>
      <span>
        <strong>{{this.project.title}}</strong>
      </span>
      |
      <span>
        <em>{{this.project.description}}</em>
      </span>
    </li>
    <li>
      <ul class="list-group">
        {{#each this.project.achievements as |achievement|}}
          <li class="list-group-item">{{achievement}}</li>
        {{/each}}
        <li class="list-group-item">
          {{#each this.skills as |skillName|}}
            <span class="badge badge-info">{{skillName}}</span>
          {{/each}}
        </li>
      </ul>
    </li>
  </ul>
</article>
