<article class="listing work-experience compact">

    <a href={{this.project.url}} target="#">
      <img src={{this.project.image}} alt="">
    </a>
    <div>
      <div>
        <span>{{this.project.description}}</span>
      </div>
      <div class="skills">
        {{#each this.skills as |skillName|}}
          <span class="badge badge-info">{{skillName}}</span>
        {{/each}}
      </div>
    </div>

</article>
