.image-container {
  margin-right: 10px;
}

.centered {
  padding: 15px;
  text-align: center;
}

.coffeetron {
    background: url(../assets/images/bitmoji-coffee-pot-haig.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 55px;
    height: 100px;
    width: 100px;
    margin: 15px;
    border: 5px solid black;
}

.code-background {
    background: url(../assets/images/code-background.jpg);
    background-position: top;
    background-repeat: no-repeat;
    border-radius: 235px;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 15px;
    border: 5px solid #51B9DB;
}

.project img {
  border: 3px solid black;
}

.resume h1 {
  margin-top: 22px;
  font-size: 4em;
}

.resume h2 {
  font-size: 2em;
}

.resume h3 {
  color: #51B9DB;
}

.resume .block {
  margin-bottom: 15px;
}

div.results {
  display: flex;
}

article.compact {
  padding: 0;
  margin: 0;
}

.compact h3 {
  color: #000;
}

.compact .centered {
  max-width: 175px;
  padding: 0px 15px 0px 0px;
}

.compact .skills {
  max-width: 150px;
  text-align: left;
}

.compact img {
  height: 150px;
  float: none;
}

article.work-experience {
  display: block;
  min-height: 100px;
  margin-bottom: 15px;
}

.work-experience img {
  height: 100px;
  float: left;
  margin-right: 10px;
}

.work-experience .skills {
  max-width: none;
}
