<div class="row resume">
  <div class="col-md-3">
    <div class="code-background"></div>
  </div>
  <div class="col-md-9">
    <h1>Haig Hagopian</h1>
    <h2>Software Engineer</h2>
  </div>
</div>
<div class="row resume">
  <div class="col-md-3">
    <div>
      <h3>TLDR</h3>
      <p>
        Full-stack engineer with a huge creative appetite and passion for gaming
         in all forms seeking to apply past experiences in collaborative world
         building, power balancing and playtesting to PC game development.
      </p>
    </div>
    <div>
      <h3>Contact Info</h3>
      <a href="mailto:haighagopian@gmail.com">
        <FaIcon @icon="envelope-square" @size="2x" />
      </a>
      <a href="https://www.linkedin.com/in/haighagopianprofile/">
        <FaIcon @icon="linkedin" @prefix="fab" @size="2x" />
      </a>
      <a href="https://github.com/bitlogic-dev/portfolio/issues">
        <FaIcon @icon="github-square" @prefix="fab" @size="2x" />
      </a>
    </div>
    <div>
      <h3>Favorite Games</h3>
      <ul class="list-unstyled">
        <li>League of Legends</li>
        <li>Overwatch</li>
        <li>Teamfight Tactics</li>
        <li>Dungeons & Dragons</li>
        <li>Zombiecide Aplocalypse</li>
      </ul>
    </div>
    <div>
      <h3>Key Skills</h3>
      <div>
        {{#each this.model as |skillUnit|}}
          <span class="badge badge-info">{{skillUnit.name}}</span>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div>
      <h3>Education & Training</h3>
      <ul class="list-unstyled">
        <li>Amazon Web Services Developer – Associate Certification</li>
        <li>freeCodeCamp - Full Stack Web Development Bootcamp</li>
      </ul>
    </div>
    <div>
      <h3>Programming Experience</h3>
      <ul class="list-unstyled">
        <li>
          <h4>Deluxe Entertainment Services Group | Software Engineer</h4>
          <p>
            Worked closely with product managers and senior technical leadership
            to scope, estimate and deliver business value in regular increments
            to multiple projects responsible for the annual distribution of over
            15 million digital cinema packages and keys to more than 32,000
            theaters around the world.
          </p>
          <p>
            Programming responsibilities span the full stack for web and desktop
            client front ends connected to a .NET service layer written in C#
            that is supported by a SQL Server back end.
          </p>
          <p>
            Web clients involved working with a mix of older aspx web form pages
            with C# code behinds and more modern HTML5 pages rendered from Jade/Pug
            templates bound to an underlying AngularJS application which
            communicated with a service layer through RESTful APIs.
          </p>
        </li>
        <li>
          <h4>SnapMunk | Web Developer</h4>
          <p>
            Designed and maintained custom Wordpress website hosted on the cloud.
            Refactored php templates and implemented SASS to allow layouts to scale
            more easily and facilitate future customization.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
{{outlet}}
