<div class="jumbo code-backgound">
  <div class="right coffeetron"></div>
  <h2>About Me</h2>
  <p>
    It would come as no surprise to anyone who knows me to hear that the majority of my youth was spent dungeon diving in marathon rpg sessions with my
    brother and his friends, blasting aliens and stomping mushrooms in my living room or dedicating countless hours in the arcades perfecting my hadouken.
    What no one, including myself, would have expected is that there would ever have come a point where my career would not involve computers or gaming.
    After nearly 10 years of working in an assortment of industries and capacities, the pent up energy for both of those things would finally boil over
    and cause me to finally take one massive, terrifying yet also exciting leaps I've ever made when I left the stability of the mundane to jump headfirst
    into fulfilling my lifelong dream of becoming a software programmer. That was about 5 years ago and I've been coding like a barbarian ever since!
  </p>
  {{#link-to "contact" class="button"}}
    Contact Me
  {{/link-to}}
</div>
