<div class="jumbo code-backgound">
  <div class="right coffeetron"></div>
  <h2>Contact Me</h2>
  <p>
    I'm eternally grateful for any feedback, even if it's just to say<br>
    you got a kick out of something in my portfolio.
  </p>
  <h3>GitHub Repos</h3>
  <div>
    <a href="https://github.com/bitlogic-dev/portfolio/issues"><span>Portfolio Feedback</span></a>
  </div>
</div>
