<div class="jumbo">
  <h2>Contact Me</h2>
  <p>
    I'm eternally grateful for any feedback, even if it's just to say<br>
    you got a kick out of something in my portfolio.
  </p>
  <div>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/haighagopianprofile/">
          <h3>LinkedIn</h3>
        </a>
      </li>
      <li>
        <a href="https://github.com/bitlogic-dev/portfolio/issues">
          <h3>GitHub</h3>
        </a>
      </li>
    </ul>
  </div>
</div>
