<div class="jumbo code-backgound">
  <div class="right coffeetron"></div>
  <h2>Welcome!</h2>
  <p>
    I hope you enjoy these projects and have fun while you're here.
  </p>
  {{#link-to "about" class="button"}}
    About Me
  {{/link-to}}
</div>
{{outlet}}
